*{
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    margin-left:0px;
}

.bag{
    background-color: lightblue;
}

.Signup_Form{
     background-color: whitesmoke;
     /* text-align: left; */
     width: 300px;
     padding: 5px 32px 32px 32px; 
     /* margin-left: 30%; */
     margin-right: 70px;
     float: right;
    position: absolute;
    margin-left: 70%;
    margin-top:-23%;
    border-radius: 2mm;
    width: 25%;
}
.inputlabel{
    margin: 0;
    margin-bottom: 3px;
    margin-top: 12px;
    
}
textarea{
    resize: none;
}

.inputarea{
    width:100%;
}

.alert{
    text-align: center;
    color: white;
    background-color: blueviolet;
    padding: 10px;
    margin-bottom: 10px;
    display: none;
}

.text{
    width:50%;
}

.log{
    background-color: wheat;
    border-radius: 2mm;
    padding: 20px;
    margin: 20px;
    font-size:15px;
    margin-left:80px;
}

