*{
    margin:0;
    padding:0;
    list-style: none;
  }
  
html,body {
    font-family: "Avenir Next";
    padding:0;
    margin:0;
    background-color: white;
}

.con{
    margin:0px;
    background-image:url(./Images/thumb-1920-917978.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height:120vh;
    padding:0px;
    width: 100%;
    padding-bottom:300px;
    
} 

.con{
  display: inline-block;
  position: relative;
  width: 100%;
  /* margin-bottom: 70%; */
  vertical-align: middle;
  overflow: hidden;
}

.description{
    margin-top:200px;
    margin-bottom:10px;
    /* padding-top:40 px; */
    padding-bottom: 30px;
    text-align:left;
    margin-left:40px;
    font-family:Krona One;
    font-size:45px;
    padding-left: 40px;
    color:#ffffff;
    width: 50%;
  }

/* .container{
  background-image:url(./Images/Truck_vector.png) ;
} */

.desp{
  padding-left: 40px;
  margin-top:0px;
  margin-bottom:10px;
  padding-top:50 px;
  /* padding-bottom: 50px; */
  text-align:left;
  margin-left:40px;
  font-family:Quicksand;
  font-size:23px;
  color:#ffffff;
  padding-bottom: 30px;

}


.header {
  background:none;
  color: rgb(255, 255, 255);
  height: 90px;
  padding-left: 40px;
  font-family: Open Sans Condensed;
  font-style: inherit;
  /* position: fixed; */
  /* display: inline-block; */
}

.header-logo {
  float: left;
  font-size: 45px;
  padding: 20px 40px;
  padding-top: 28px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
  font-size: 20px;
  padding-top: 45px;
}

.header-list a{
  text-decoration: none;
  color: white;
}

div.header-list a:before, div.header-list a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.header-list a:before
{
    left: 0px;
    top: 0px;
}

div.header-list a:after
{
    right: 0px;
    bottom: 0px;
}

div.header-list a:hover:before, div.header-list a:hover:after
{
    opacity: 1;
    width: 100%;
}




.button-list{
  text-align: center;
  padding: 40px;
  color: white;
  
}

.interactive-button {
  color:white;
  padding-right: 20px;
}

.button-list a{
  color: white;
  font-style: none;
  padding-right: 20px;
  text-decoration: none;
  padding: 33px 20px;
  padding-top: 43px;
  font-size:20px;
  
}

.button-list a{
  /* line-height: 65px; */
  padding: 7px 20px;
  color: white;
  border-radius: 1mm;
  /* display: block; */
  /* background-color:gray; */
  margin-right: 20px;
  float: right;
}

.button-list a {
	line-height: 2em;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	perspective: 800px;
}

.button-list a span {
	position: relative;
	display: inline-block;
	padding: 3px 15px 0;
	background: #587285;
	box-shadow: inset 0 3px #2f4351;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	transition: background 0.6s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

.button-list a span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #2f4351;
	content: attr(data-hover);
	-webkit-transform: rotateX(270deg);
	-moz-transform: rotateX(270deg);
	transform: rotateX(270deg);
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
}

.button-list a:hover span,
.button-list a:focus span {
	background: #2f4351;
}

.button-list a:hover span::before,
.button-list a:focus span::before {
	-webkit-transform: rotateX(10deg);	
	-moz-transform: rotateX(10deg);
	transform: rotateX(10deg);
}

.button-list a{
  padding-top: 0px;
}

.con_1{
  background-color: #F5F5F5;
  height: 70vh;
}

.prediction{
  text-decoration: none;
  color: black;
  background-color: wheat;
  border-radius: 2mm;
  padding: 15px;
  margin-left: 80px;
  margin-top: 40px;
  position: relative;
  font-size: 20px;
  margin-bottom: 40px;
}

.sub_con1{
  width:50%;
  background-color: #ebe5e5;
  float: left;
  height: 60vh;
  padding-bottom: 40px;
}

.sub_con2{
  width:50%;
  background-color: #ebe5e5;
  float: right;
  height: 60vh;
  padding-bottom: 40px;
}

.con_text1{
  margin: 0 auto;
  padding: 80px;
  text-decoration: none;
  font-size: 20px;
  font-family: Merriweather;
  padding-right: 200px;

}

.img_con1{
padding: 20px;  
height: 90%;
  padding-left:150px;
}

.sub_con3{
  width:50%;
  background-color: #ebe5e5;
  float: left;
  height: 80vh;
}

.sub_con4{
  width:50%;
  background-color: #ebe5e5;
  float: right;
  height: 80vh;

}

.con_text2{
  margin: 0 auto;
  padding: 80px;
  text-decoration: none;
  font-size: 20px;
  font-family: Merriweather;
  padding-left: 200px;

}

.img_con2{
padding: 20px;  
height: 396px;
width: 600px;
  padding-right:150px;
  padding-top: 70px;
}

.green{
  background-color:#ebe5e5 ;
  padding-top: 40px;
  margin: 0 auto;
  line-height: 2.1;
}

.con_text3{
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px; 
  font-family:Open Sans
}

.prediction1{
  text-decoration: none;
  color: WHITE;
  background-color: #2A363B;
  border-radius: 2mm;
  padding: 20px;
  /* margin-left: 80px; */
  margin-top: 40px;
  position: relative;
  font-size: 20px;
}

.design{
  color:limegreen;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Contact Us Page */

.contact{
  height:100vh;
  background-image: url(./images/city.jpg);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.dets1{
  margin: 0 auto;
  padding: 40px 40px 10px 40px;
  text-align:center;
  padding-top: 10px;
  font-family: Open Sans;
}

.dets2{
  margin: 0 auto;
  /* padding: 40px; */
  padding-bottom: 20px;
  text-align:center;
  padding-top: 10px;
  font-family: Open Sans;
}

.design1{
  color: limegreen;
  font-family: Open Sans;
}

.contact_details{
  background-color: wheat;
  padding: 10px;
  /* margin: 20px; */
  box-shadow: 10px 5px 5px black;
}

.text a:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(29, 108, 29);
}

.green a:hover{
  background-color: mediumaquamarine;
  color: black;
}
